<style>
  .sub_link {
    position: absolute;
    top: -50%;
    width: 100vw;
    max-width: 288px;
    visibility: hidden;
    opacity: 0;
    transition: ease-out 500ms;

  }

  .nav_link {
    position: relative;
    height: 100%;
    z-index: 999;
    cursor: pointer;
    transition: ease-out 500ms;
  }
  .nav_link:hover .sub_link {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
</style>
<div class="relative bg-white">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
      <!-- Store name / Store logo -->
      <div class="flex justify-start md:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
      </div>
      <!-- Navigation Menu -->
      <nav class="hidden md:flex space-x-10">
        {% for link in section.settings.menu.links %}
          {% if link.links != blank %}
            {% assign link_handle = link.handle | replace: '-', '_' %}
            <div class="relative" x-data="{ {{link_handle}} : false }">
              <button class="nav_link inline-flex items-center" x-on:click="{{ link_handle }} = ! {{ link_handle }}">
                {{ link.title }}
                {% render 'icon-dropdown' %}
                <div class="sub_link">
                  <div class="shadow-lg border-ring black ring-opacity-5 overflow-hidden rounded-lg">
                    <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                      {% for childLink in link.links %}
                        <a href="{{ childLink.url }}" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100">
                          <div class="ml-4">
                            <p class="text-gray-900 text-base font-medium">
                              {{ childLink.title }}
                            </p>
                          </div>
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </button>

            </div>
          {% else %}
            <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-700">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>

      <!-- Cart Button / Account links if enabled -->
      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="/cart" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-shopping-bag' %}
        </a>
        {% comment %} here we check if guests are allowed to create an account {% endcomment %}
        {% if shop.customer_accounts_enabled %}
          {% comment %} here we check whether it is a loged in user or guest user {% endcomment %}
          {% if customer %}
            <a href="/account" class="text-base text-gray-500 hover:text-gray-900">Acount</a>
            {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
          {% else %}
            {{ 'Login' | customer_login_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
            {{ 'Register' | customer_register_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
  }
{% endschema %}